@font-face {
    font-family: "SDB";
    src: url("/src/fonts/AppleSDGothicNeoB.ttf") format("truetype");
}

@font-face {
    font-family: "SDSB";
    src: url("/src/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
}

@font-face {
    font-family: "SDM";
    src: url("/src/fonts/AppleSDGothicNeoM.ttf") format("truetype");
}